<%- include("./templates/head.ejs") %> 
        <link rel="stylesheet" href="../css/style.min.css" />
	</head>
	<body>
        <main>
            <div class="whole-container">
                <h1>WELCOME</h1>
                <a href="/contacts"><button>Get Started</button></a>
            </div>
        </main>
<%- include("./templates/bottom.ejs") %> 