* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(128, 128, 128, 0.342), rgba(128, 128, 128, 0.329)), url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}
body main {
  background-color: rgba(15, 15, 15, 0.603);
  height: 100vh;
}
body main .whole-container {
  display: flex;
  gap: 30px;
  height: 100vh;
  flex-flow: column wrap;
  place-content: center;
  place-items: center;
  color: white;
}
body main .whole-container h1 {
  font-size: 160px;
}
body main .whole-container button {
  padding: 15px 25px;
  background-color: rgba(66, 120, 238, 0.445);
  border: 2px solid #5959f8;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: 0.3s all;
}
body main .whole-container button:hover {
  background-color: #5959f8;
}
body main h4 {
  color: white;
  padding-bottom: 9px;
}
body main .container .form-inline {
  display: flex !important;
  gap: 20px;
}
body main .form-container table {
  color: #f8f8f8;
}
body main .form-container table th {
  color: white;
}
body main .form-container .table-striped > tbody > tr:nth-of-type(odd) {
  color: #f8f8f8;
}